* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.detalles-producto {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    margin: 50px auto;
    max-width: 1400px;
}

.detalles-producto>div {
    flex: 1;
}