.galeriaProducto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.imagen-principal {
    border-radius: 8px;
    object-fit: contain;
}

.contenedorImgPrincipal {
    display: flex;
    justify-content: center;
    flex: 2;
    width: 600px;
    height: auto;
    
    
}

.contenedorImgPrincipal img {
    width: 100%;
    height: 460px;
    border-radius: 8px;
}

#miniaturas {
    flex: 0 0 150px; 
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.miniatura {
    width: 100%;
    height: 113px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s, transform 0.2s;
}


.miniatura:hover {
    border: 2px solid #1a1a7a;
    transform: scale(1.05); 
}